@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,700;1,100;1,600&family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'poppins',  sans-serif;
    background: rgb(255, 255, 255);
    transition: all 3ms ease;
    color: var(--black);
    scroll-behavior: smooth;
}